html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    background: rgb(81,	79,	77);	
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: .5fr 5fr 1.5fr;
    min-height: 100vh;
}

.hero-header{
    grid-row: 1;
    grid-column: 1 / span 3;
    align-self: start;
    color: rgb(233, 233, 233);
    background-image: url('../images/keyboard.jpeg');
    background-size: cover;
    background-repeat: no repeat;
}

.gradient-div{
    grid-row: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    background: linear-gradient(0deg, rgba(63, 58, 54, 0.7) 0%, rgba(63, 58, 54, 0.7) 100%);
}

.hi-im-bill{
    grid-row: 1;
    grid-column: 1 / span 2;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    text-align: left;
    place-self: end start;
    margin: 0;
    margin-left: 5vw;
    /* padding-top: 5vh; */
    /* color: rgb(29, 29, 29); */
    font-size: calc(16pt + 2vw);

}

.full-stack{
    grid-row: 2;
    grid-column: 1 / span 2;
    place-self: start;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    /* color: rgb(28, 28, 28); */
    font-size: calc(6pt + 2vw);
    text-align: left;  
    margin: 0;  
    margin-left: 5vw;
}

.social-media-nav{
    grid-row: 2;
    grid-column: 3;
    /* width: 10vw; */
    justify-self: end;
}

.connect-nav{
    grid-row: 1;
    grid-column: 2 / span 3;
    place-self: start end;
    margin-top: 1vh;
    margin-right: 1vw;
}

.social-media-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.connect-link{
    font-family: 'Red Hat Display', sans-serif;
    display: inline-block;
    font-size: calc(8pt + 1vw);
    /* color: rgb(28, 28, 28); */
    margin: 0 1vw;
    color: rgb(233, 233, 233);
    text-decoration: none;
}

.connect-link:hover{
    text-decoration: none;
    color: rgb(233,233,233);
    font-weight: 500;
}

.social-media-img{
    width: auto;
    height: calc(2rem + 1vw);
    background-color: rgb(1, 8, 57);
    margin-top: 2vh;
}

.modal-content{
    font-family: "Red Hat Display", sans-serif;
    background: rgb(233, 233, 233);
}

.modal-header{
    text-align: center;
}

.modal-title{
    margin: 0 auto;
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    font-size: calc(14pt + 1vw);
}

.modal-header, .modal-body{
    background: rgb(233, 233, 233);
    /* font-size: calc(14pt + 1vw); */
    border: none;
    color: #3F3A36;
}

.home-main{
    grid-row: 2;
    grid-column: 1 / span 3;
    background: rgb(233, 233, 233);
}

.projects-section{
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
    align-items: start;
}

.section-heading{
    grid-column: 2;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    font-size: calc(14pt + 3vw);
    color: #3F3A36;
}

.skills-list{
    text-align: center;
    grid-column: 2;
    margin-bottom: 5vh;
}

.skill-button, .email-button{
    border: 1px #59534E solid;
    margin: .5vw;
    font-size: calc(4pt + 1vw);
    padding: .5vw;
    background-color: rgb(233, 233, 233);
    color: #3F3A36;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
}

.contact-me-button{
    border: 1px #8C857F solid;
}

.project-directory{
    grid-column: 1 / span 3;
    justify-self: center;
    place-content: center;
    width: 20rem + 10vw;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    /* border: 1px blue solid; */
}

.project-card{
    overflow: hidden;
    justify-content: center;
    /* border: red solid 1px; */
    width: calc(10rem + 17vw);
    height: calc(10rem + 17vw);
    margin: 2vw;
    box-shadow: 1px 1px 2px grey;
}

.project-img{
    /* max-width: 100%; */
    max-height: 100%;
    text-align: center;
    margin: 0 auto;
    /* left: -10%; */
    margin-left: -3.5vw;
    /* object-fit: cover; */
}

/* .hover-text{ 
    z-index: 1; 
    height: 100%;
    background: #59534E;
    opacity: ;
} */

.home-footer{
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.2fr .2fr;
}

.email-text{
    border-color: #8C857F;
    background-color:  rgb(233, 233, 233);
    font-family: "Red Hat Display", sans-serif;
    place-self: center;
}

.email-link{
    place-self: center;
}
/* Color Theme Swatches in Hex */
.Greek-Sketchbook-1-hex { color: #F2EDE3; }
.Greek-Sketchbook-2-hex { color: #A59F96; }
.Greek-Sketchbook-3-hex { color: #3F3A36; }
.Greek-Sketchbook-4-hex { color: #59534E; }
.Greek-Sketchbook-5-hex { color: #8C857F; }

/* Color Theme Swatches in Hex */
/* .Colorful-Sunset-Over-Albuquerque-New-Mexico-1-hex { color: #0377A5; }
.Colorful-Sunset-Over-Albuquerque-New-Mexico-2-hex { color: #465901; }
.Colorful-Sunset-Over-Albuquerque-New-Mexico-3-hex { color: #F28704; }
.Colorful-Sunset-Over-Albuquerque-New-Mexico-4-hex { color: #BF5B03; }
.Colorful-Sunset-Over-Albuquerque-New-Mexico-5-hex { color: #D8A477; } */

/* Color Theme Swatches in Hex */
/* .Southwest-House-Details-1-hex { color: #720216; }
.Southwest-House-Details-2-hex { color: #80BDF2; }
.Southwest-House-Details-3-hex { color: #0B7ABF; }
.Southwest-House-Details-4-hex { color: #91CDF2; }
.Southwest-House-Details-5-hex { color: #D89F7D; } */

/* Color Theme Swatches in Hex */
.Overhead-shot-of-business-desktop-with-computer-1-hex { color: #86A0A6; }
.Overhead-shot-of-business-desktop-with-computer-2-hex { color: #A8BBBF; }
.Overhead-shot-of-business-desktop-with-computer-3-hex { color: #5A7326; }
.Overhead-shot-of-business-desktop-with-computer-4-hex { color: #83A638; }
.Overhead-shot-of-business-desktop-with-computer-5-hex { color: #F2F2F2; }
/* Color Theme Swatches in Hex */
.Santa-Fe-Opera-Season-2019-1-hex { color: #0410F2; }
.Santa-Fe-Opera-Season-2019-2-hex { color: #0440F2; }
.Santa-Fe-Opera-Season-2019-3-hex { color: #0453F2; }
.Santa-Fe-Opera-Season-2019-4-hex { color: #5C838C; }
.Santa-Fe-Opera-Season-2019-5-hex { color: #F2E5D5; }


