html,body{
    height: 100%;
    width: 100%;
    margin: 0;
}

.background-picture{
    background: rgb(10,43,181);
    background: linear-gradient(0deg, rgba(18,23,101,1) 0%, rgba(10,43,181,1) 100%);
    /* height: 100vh; */
    background-size: contain;
    margin: 0;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: .9fr .5fr 5fr .5fr;
    min-height: 100vh;
}

.hero-header{
    grid-row: 1;
    grid-column: 2;
    align-self: end;
    /* margin-top: 5vh; */
}

.hi-im-bill{
    font-family: 'Archivo Black', sans-serif;
    font-weight: 700;
    color: rgb(213, 214, 253);
    font-size: calc(20pt + 4vw);
    text-align: center;
    /* padding-top: 10vh; */
    padding-bottom: 1vh;
    margin: 0 auto;
    text-shadow: #020F59 3px 3px;
    /* text-shadow: #3DADF2 3px 3px; */
}

.full-stack{
    font-family: 'Archivo Black', sans-serif;
    font-weight: 400;
    color: #020F59;
    font-size: calc(16pt + 1vw);
    text-align: center;
    padding-top: 0;
    margin: 0 auto;
    text-shadow: #0424D9 2px 2px;
}

.social-media-nav{
    grid-row: 1;
    grid-column: 1;
    /* width: 10vw; */
    align-self: start;
}

/* .connect-section{
    grid-row: 2;
    grid-column: 2;
} */

.social-media-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10vw;;
}

.social-media-img{
    width: auto;
    height: calc(2rem + 1vw);
    border-radius: 0 20% 20% 0;
    background-color: rgb(1, 8, 57);
    box-shadow: 5px 0 5px #020F59	
}

.home-main{
    grid-row: 3;
    grid-column: 2;
}

.projects-section{
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
    align-items: start;
}

.section-heading{
    grid-column: 2;
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    /* font-weight: 700; */
    font-size: calc(20pt + 3vw);
    color: #020F59;
    text-shadow: #0424D9 2px 2px;
}

.skills-list{
    text-align: center;
    grid-column: 2;
    margin-bottom: 5vh;
}

.skill-button{
    border: #0424D9 thick outset;
    /* border-radius: 10%; */
    margin: .5vw;
    font-size: calc(8pt + 1.5vw);
    padding: .5vw;
    background-color: #020F59;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

.project-directory{
    grid-column: 1 / span 3;
    justify-self: center;
    place-content: center;
    width: 20rem + 10vw;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border: 1px blue solid;
}

.project-card{
    overflow: hidden;
    justify-content: center;
    border: red solid 1px;
    width: calc(15rem + 15vw);
    height: calc(15rem + 15vw);
    margin: 1vw;
}

.project-img{
    /* max-width: 100%; */
    max-height: 100%;
    /* margin-left: vw; */
}
/* Color Theme Swatches in Hex */
.Illustrations.-Aloysius-Bertrand-“-Gaspar-de-la-nuit-“-1-hex { color: #D8D8D8; }
.Illustrations.-Aloysius-Bertrand-“-Gaspar-de-la-nuit-“-2-hex { color: #BFBFBF; }
.Illustrations.-Aloysius-Bertrand-“-Gaspar-de-la-nuit-“-3-hex { color: #8C8C8C; }
.Illustrations.-Aloysius-Bertrand-“-Gaspar-de-la-nuit-“-4-hex { color: #3F3F3F; }
.Illustrations.-Aloysius-Bertrand-“-Gaspar-de-la-nuit-“-5-hex { color: #0C0C0C; }

/* Color Theme Swatches in RGBA */
.Illustrations.-Aloysius-Bertrand-“-Gaspar-de-la-nuit-“-1-rgba { color: rgba(216, 216, 216, 1); }
.Illustrations.-Aloysius-Bertrand-“-Gaspar-de-la-nuit-“-2-rgba { color: rgba(191, 191, 191, 1); }
.Illustrations.-Aloysius-Bertrand-“-Gaspar-de-la-nuit-“-3-rgba { color: rgba(140, 140, 140, 1); }
.Illustrations.-Aloysius-Bertrand-“-Gaspar-de-la-nuit-“-4-rgba { color: rgba(63, 63, 63, 1); }
.Illustrations.-Aloysius-Bertrand-“-Gaspar-de-la-nuit-“-5-rgba { color: rgba(12, 12, 12, 1); }

/* Color Theme Swatches in HSLA */
.Illustrations.-Aloysius-Bertrand-“-Gaspar-de-la-nuit-“-1-hsla { color: hsla(0, 0, 84, 1); }
.Illustrations.-Aloysius-Bertrand-“-Gaspar-de-la-nuit-“-2-hsla { color: hsla(0, 0, 74, 1); }
.Illustrations.-Aloysius-Bertrand-“-Gaspar-de-la-nuit-“-3-hsla { color: hsla(0, 0, 54, 1); }
.Illustrations.-Aloysius-Bertrand-“-Gaspar-de-la-nuit-“-4-hsla { color: hsla(0, 0, 24, 1); }
.Illustrations.-Aloysius-Bertrand-“-Gaspar-de-la-nuit-“-5-hsla { color: hsla(0, 0, 4, 1); }

/* Color Theme Swatches in Hex */
.SHADOWS-1-hex { color: #BF1303; }
.SHADOWS-2-hex { color: #8C1207; }
.SHADOWS-3-hex { color: #F26457; }
.SHADOWS-4-hex { color: #590101; }
.SHADOWS-5-hex { color: #0C0000; }

/* Color Theme Swatches in RGBA */
.SHADOWS-1-rgba { color: rgba(191, 19, 3, 1); }
.SHADOWS-2-rgba { color: rgba(140, 18, 7, 1); }
.SHADOWS-3-rgba { color: rgba(242, 100, 87, 1); }
.SHADOWS-4-rgba { color: rgba(89, 1, 1, 1); }
.SHADOWS-5-rgba { color: rgba(12, 0, 0, 1); }

/* Color Theme Swatches in HSLA */
.SHADOWS-1-hsla { color: hsla(5, 96, 38, 1); }
.SHADOWS-2-hsla { color: hsla(4, 90, 28, 1); }
.SHADOWS-3-hsla { color: hsla(5, 85, 64, 1); }
.SHADOWS-4-hsla { color: hsla(0, 97, 17, 1); }
.SHADOWS-5-hsla { color: hsla(0, 100, 2, 1); }

/* Color Theme Swatches in Hex */
.Two-jellyfish-on-a-blue-background-1-hex { color: #0424D9; }
.Two-jellyfish-on-a-blue-background-2-hex { color: #031CA6; }
.Two-jellyfish-on-a-blue-background-3-hex { color: #03178C; }
.Two-jellyfish-on-a-blue-background-4-hex { color: #020F59; }
.Two-jellyfish-on-a-blue-background-5-hex { color: #3DADF2; }

/* Color Theme Swatches in RGBA */
.Two-jellyfish-on-a-blue-background-1-rgba { color: rgba(4, 36, 216, 1); }
.Two-jellyfish-on-a-blue-background-2-rgba { color: rgba(3, 27, 165, 1); }
.Two-jellyfish-on-a-blue-background-3-rgba { color: rgba(2, 23, 140, 1); }
.Two-jellyfish-on-a-blue-background-4-rgba { color: rgba(1, 14, 89, 1); }
.Two-jellyfish-on-a-blue-background-5-rgba { color: rgba(60, 172, 242, 1); }

/* Color Theme Swatches in HSLA */
.Two-jellyfish-on-a-blue-background-1-hsla { color: hsla(230, 96, 43, 1); }
.Two-jellyfish-on-a-blue-background-2-hsla { color: hsla(230, 96, 33, 1); }
.Two-jellyfish-on-a-blue-background-3-hsla { color: hsla(230, 96, 28, 1); }
.Two-jellyfish-on-a-blue-background-4-hsla { color: hsla(230, 96, 17, 1); }
.Two-jellyfish-on-a-blue-background-5-hsla { color: hsla(202, 87, 59, 1); }